{
  "pipeline": {
    "name": "{{ args.name }}"
  },
  "transform": {
    "image": "ubuntu:16.04",
    "cmd": ["/bin/bash"],
    "stdin": [
      "ls -al"
    ]
  },
  "parallelism_spec": {
    "constant": 1
  },
  "resource_requests": {
    "memory": "64M"
  },
  "max_queue_size": 1,
  "datum_tries": 3,
  "cache_size": "64M",
  "standby": true,
  "input": {
    "pfs": {
      "name": "{{ args.name }}-input",
      "repo": "{{ args.name }}-input",
      "branch": "master",
      "glob": "/*"
    }
  },
  "output_branch": "master"
}